.App {
    text-align: center;
}
.logo {
    height: 50px;
}
.App-header {
    /* navbar using flexbox model */
    display: flex;
    align-items: center;
    background-color: white;
    height: 60px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px 0 #000;
}
.App-header-left {
    /* left section of header sticks to left, does not grow */
    display: flex;
    flex-grow: 0;
    padding: 0 10px;
}
.App-header-right {
    /* right section of header grows leftward, aligned to right */
    display: flex;
    flex: 1 0 0;
    justify-content: flex-end;
}
.App-header-right > * {
    /* spacing between right section items */
    margin: 0 10px;
}

body {
    font-family: 'Arial';
}

button {
    /*background-color: #2774AE; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;*/

    border-radius: 20px;
	border: 1px solid #2774AE;
	background-color: #2774AE;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	/*transition: transform 80ms*/
  }

.textbox {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 50%;
}

.inputTitle {
    text-align: left;
    padding-left: 24%; 
    color: #2774AE;
}